{% load static %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/myadmin/dashboard" class="app-brand-link">
              <span class="fa fa-fa-clock">

                  <img src="{% static 'myadmin/assets/img/favicon/webicon.jpg' %}" alt="Webcourt Logo" width="50" height="50">
                </svg>
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2">WebCourt</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item active">
              <a href="/myadmin/dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Pages</span>
            </li>
             <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Account Settings">Staff</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="/myadmin/addstaff" class="menu-link">
                    <div data-i18n="Account">Add New Staff</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/myadmin/allstaff" class="menu-link">
                    <div data-i18n="Notifications">All Staff</div>
                  </a>
                </li>
              </ul>
            </li>
             <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Account Settings">Client</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="/myadmin/addclient" class="menu-link">
                    <div data-i18n="Account">Add New Client</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/myadmin/allclient" class="menu-link">
                    <div data-i18n="Notifications">All Client</div>
                  </a>
                </li>
              </ul>
            </li>


            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-category"></i>
                <div data-i18n="Authentications">Manage Cases</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="/myadmin/addcases" class="menu-link" >
                    <div data-i18n="Basic">Add New Cases</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/myadmin/allcases" class="menu-link" >
                    <div data-i18n="Basic">All Cases <Cases></Cases></div>
                  </a>
                </li>
               
              </ul>
            </li>
            
            <li class="menu-item">
              <a href="/myadmin/hearingdate" class="menu-link">
                <i class="menu-icon tf-icons bx bx-calendar"></i>
                <div data-i18n="Basic">Hearing Date</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="/myadmin/appointment" class="menu-link">
                <i class="menu-icon tf-icons bx bx-calendar-check"></i>
                <div data-i18n="Basic">Appointment</div>
              </a>
            </li>


            <li class="menu-item">
              <a href="/myadmin/inquiries" class="menu-link">
                <i class="menu-icon tf-icons bx bx-file-find"></i>
                <div data-i18n="Basic">Inquiries</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="/myadmin/feedback" class="menu-link">
                
                <i class="menu-icon tf-icons bx bx-comment"></i>
                <div data-i18n="Basic">Feedback</div>
              </a>
            </li>

           {% if user.is_authenticated %}
            <li class="menu-item">
              <a href="/myadmin/logout_user" class="menu-link">
                <i class="menu-icon tf-icons bx bx-log-out"></i>
                <div data-i18n="Basic">Logout</div>
              </a>
            </li>
             {% else %}
            <li class="menu-item">
              <a href="/myadmin/login" class="menu-link">
                <i class="menu-icon tf-icons bx bx-log-in"></i>
                <div data-i18n="Basic">Login</div>
              </a>
            </li>
              {% endif %}
            <!-- User interface -->


            <!-- Extended components -->

            <!-- Forms & Tables -->
            <!-- <li class="menu-header small text-uppercase"><span class="menu-header-text">Forms &amp; Tables</span></li> -->
            <!-- Forms -->
            <!-- Tables -->
          </ul>
        </aside>