{% extends 'myadmin/common/layout.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}

<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <h5 class="card-header">Hearing Date</h5>
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Next Date</th>
                            <th scope="col">Case</th>
                            <th scope="col">Remarks</th>
                            <th scope="col">Client</th>
                            <th scope="col">Contact</th>
                    
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in result %}
                        <tr>
                            <td>{{row.id}}</td>
                            <td>{{row.nextdate}}</td>
                            <td>{{row.case.case_title}}</td>
                            <td>{{row.remarks}}</td>
                            <td>{{row.case.client.user.first_name}}</td>
                            <td>{{row.case.client.contact}}</td>
                            
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text">No upcoming hearings found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="alert alert-warning" role="alert">
    You need to log in to view the hearing details.
</div>
{% endif %}
{% endblock %}